<%- include('header') %>
<h1>About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor magna non purus faucibus finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla rhoncus ante a nisl consectetur, a elementum tellus ullamcorper. Maecenas eu rhoncus justo. Nullam fermentum ligula ut lacus congue, at blandit turpis vehicula. Suspendisse eu lectus eu urna facilisis condimentum. Duis eu risus non ex vestibulum consequat. Integer iaculis tristique orci, et efficitur purus fringilla eget. Sed sed tellus neque. Cras maximus, elit in eleifend vestibulum, leo est eleifend elit, ac egestas metus lacus vel leo. Nam auctor, purus ac pulvinar sagittis, urna tellus dictum arcu, nec fermentum tellus est ut urna. Donec ullamcorper ante et nunc lacinia luctus.</p>

<%- include('footer') %>