<%- include('header') %>
<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec dignissim erat, at hendrerit enim. Phasellus consectetur, ex vitae efficitur feugiat, risus mi blandit mi, in posuere felis nisl id urna. Aliquam mattis vulputate quam at lobortis. Nam dictum dapibus lectus, at finibus sapien semper in. Curabitur mollis rhoncus interdum. Pellentesque malesuada libero non pulvinar feugiat. Sed at efficitur dolor. Nulla facilisi. Nulla sed purus non metus consequat vulputate. Cras sed consectetur neque. Fusce sollicitudin ultrices lacus, ut tempus velit iaculis vitae. Vestibulum tristique magna vel lacinia hendrerit.</p>

<%- include('footer') %>