<%- include('header'); -%>

<div class="container h-100">
    
     <h1 class="m-3"><%=titleParams%></h1>
     <%messageParams.forEach(paragraph => {%>
      <p class="m-3"><%=paragraph%></p>
    <%});%>
     
      
   </div> 
   <pre>

   </pre>
<%- include('footer'); -%>