<%- include('header'); -%>

<div class="container h-100">
    
     <h1 class="m-3"><%=titleParams%></h1>
     <%messageParams.forEach(paragraph => {%>
      <p class="m-3" style="word-wrap: break-word; white-space: pre-wrap;"><%=paragraph%></p>
    <%});%>
     
      
   </div> 
   <pre>

    <hr>
    <div class="btn-group mx-auto text-center">
      <a href="/compose" class="btn btn-success">Create a Post</a>
      <a href="/" class="btn btn-primary">Home Page</a>
    </div>




   </pre>
<%- include('footer'); -%>
