<%- include('header') %>
    <div class="mx-auto text-center container">
        <h1>Success</h1>
        <p>Post successfully created</p>

        <div class="btn-group">
            <a href="/compose" class="btn btn-success">Create one more Post</a>
            <a href="/" class="btn btn-primary">Home Page</a>
          </div>

    </div>
    <%- include('footer') %>